.win-cog {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 4px;
  bottom: 5px;
  left: 5px;
  cursor: pointer;
  touch-action: none;
  background: url(../../../assets/media/cog.png) no-repeat;
}
.win-size-grip {
    position: absolute;
    width: 16px;
    height: 16px;
    padding: 4px;
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
    touch-action: none;
    background: url(../../../assets/media/wingrip.png) no-repeat;
}
.win-move-grip {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 4px;
  top: 2px;
  left: 2px;
  cursor: move;
  touch-action: none;
  background: url(../../../assets/media/move-grip.png) no-repeat;
}
.workplace-dropzone {
	min-height: 1000px;
	position: relative;
  border: dashed 4px #ccc;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s;
}
.drag-drop-element {
  display: inline-block;
  min-width: 50px;
  /* width:180px;
  height:100px; */

  min-height:50px;
  padding: 0;
  text-align:left;
  position: absolute;

  touch-action: none;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}
.drag-drop-object {
  width: 150px;
  min-width: 150px; 
  height: 120px;
  min-height:120px; 
  background: #fcfcfc; 
  border: 2px solid #ccc;
  border-radius: 4px;
  position: absolute;
  text-align: center;
}
.drag-drop-object p {
  margin:10px;
}
.drag-drop-element .drag-item {
    width: 100%;
}
.drag-element, .drag-object {
    position: relative;
}

.table-element{
  cursor: move;
}
.table-occupied{
  background:#b90808!important;
  color:white!important;

}
.table-empty{
  background:#83d683!important;
  color:white!important;

}
.workplace-dropzone{
  overflow-x:scroll;
}
.table-bg-number{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.table-overlay{
  position:absolute;
  height:100%;
  width:100%;
  top:0;
  opacity:0.7;
  background-color:#000!important;

}
.table-element-content{
  position:relative;
}
.table-detail{
  position:absolute;
  width:100%;
  height:100%;
}
.table-empty .table-overlay{
  background-color:#83d683!important;
}